{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"importOrder": [
		"^(next/(.*)$)|^(next$)",
		"<THIRD_PARTY_MODULES>",
		"next-seo.config",
		"^components/(.*)$",
		"^utils/(.*)$",
		"^assets/(.*)$",
		"^@fontsource/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
